/*the start of the homepage sytlying*/

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #9a5006;
    
    
}


h2 {
    font-family:cursive;
    color: black;
    width: 100%;
    text-align: center;
    
}

h3{
    font-family: Arial, Helvetica, sans-serif;
     color:rgb(216, 139, 56);

}

h4{
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     color: rgb(163, 102, 37);
}

h5{
    font-style: italic;
    color: rgb(183, 155, 31);
    text-align: center;
}

#main-header{       
    display: flex;
    flex: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;

}



nav {           /* styling the navigation bar, including the background colour */
        background-color: #a97d04;
        overflow: hidden;
}


nav  a {            /*the naviagtion bar */
    float: left;
            display: block;
            color: rgb(244, 237, 237);
            text-align: right;
            margin: 0 auto;
            padding: 14px 20px;
            text-decoration: solid;
}

/*homepage*/

.background-image {
    position: relative;
    width:100%;
    height: 600px;
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#about-us{         
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50%;
    max-width: 90%;
    background-color: rgba(150, 88, 36, 0.85) ;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }


    @media screen and (max-width: 768px) {
        #about-us {
            width: 80%;
            padding: 15px;
            
        }   /*media statement */


    }

/* Start of the search section formatting */
#search {
    display: flex;
    justify-content: center; /* Centering the search form */
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
    padding: 20px;
}

#search input[type="text"] {
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    width: 50%; /* Make the input field take up half the width */
    border: 2px solid #9a5006;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
}

#search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9a5006;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    #search {
        flex-direction: column;
        align-items: center;
    }

    #search input[type="text"] {
        width: 80%;
    }
}


.blockquote { 
    padding-top: 20px;         /* the blockquote on the homepage */
    padding-left: 10%;
}



.card-body p {
    font-size: 1.1rem;            
    line-height: 1.6;            
    color: #555;                 
    padding: 10px;                
    background-color: #f9f9f9;    
    border-radius: 5px;           
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px;         
}


.blockquote {          /* the blockquote on the homepage */
    padding-left: 10%;
}

#information {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    background-color: #937729;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

.info {
    p {
        color: whitesmoke;  /*the colour of the text in the footer*/
    }
}

/* the end of the homepage styling */


/* the start of the recipes page */

.recipe {
    display: flex;
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 20px;
    width: 95%;
    align-items: center;
}

.recipe h4 {
    color: #9a5006;
    font-size: 24px;
    margin-bottom: 10px;
}

.instructions {
    display: flex;
    justify-content: space-between; /* Spacing between ingredients and image */
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 50px;
    width: 95%;

}


.ingredients {
    flex: 1;
    
}

.ingredients h6 {
    color: #9a5006;
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-image {
    flex: 1;
    
}

.recipe-image img {
    max-width: 100%;
    border-radius: 8px;
}

.cooking-step h6 {
    color: #9a5006;
    font-size: 20px;
    margin-top: 20px;
}

.cooking-step ol {
    padding-left: 20px;
}

/* the end of the recipe page */
